/* /Components/Games/Sudoku/SudokuGame.razor.rz.scp.css */
li:nth-child(n):nth-child(-n+9)[b-7l057dwtym] {
    border-top-width: 4px;
}

li:nth-child(n+73):nth-child(-n+81)[b-7l057dwtym] {
    border-bottom-width: 4px;
}

li:nth-child(3n)[b-7l057dwtym] {
    border-right-width: 4px;
}

li:nth-child(9n+1)[b-7l057dwtym] {
    border-left-width: 4px;
}

li:nth-child(n+19):nth-child(-n+27)[b-7l057dwtym] {
    border-bottom-width: 4px;
}

li:nth-child(n+46):nth-child(-n+54)[b-7l057dwtym] {
    border-bottom-width: 4px;
}

ul[b-7l057dwtym] {
    display: grid;
    grid-template-columns: repeat(9, 2.6rem);
    grid-template-rows: repeat(9, 2.6rem);
    justify-content: center;
    align-content: center;
    list-style: none;
    margin: 0 0 2rem;
    padding: 0;
    font-size: calc(1rem + 10px);
    user-select: none;
}

li[b-7l057dwtym] {
    margin: 0;
    padding: 0;
    text-align: center;
    border: 0.1rem solid #243b53ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-selected[b-7l057dwtym] {
    background-color: #E1E1E1;
    width: calc(1.2rem + 15px);
    height: calc(1.2rem + 15px);
    border-radius: 50%;
    color: var(--mud-palette-black);
    font-weight: bold;
}

.block-filled[b-7l057dwtym] {
    background-color: #E1E1E1;
    width: calc(1.2rem + 15px);
    height: calc(1.2rem + 15px);
    border-radius: 50%;
    color: var(--mud-palette-black);
    font-weight: bold;
    opacity: 60%;
}

.number-control[b-7l057dwtym] {
    user-select: none;
    width: calc(2rem + 10px);
    height: calc(2rem + 10px);
    border: 0.1rem solid #243b53ff;
    font-size: calc(1rem + 10px);
    text-align: center;
    margin-right: 0.5rem;
}

.fit-content[b-7l057dwtym] {
    max-width: fit-content;
}

.invalid[b-7l057dwtym] {
    background-color: orange !important;
}
/* /Components/Layouts/MainLayout.razor.rz.scp.css */
.page[b-5jal6u73za] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-5jal6u73za] {
    flex: 1;
}

.sidebar[b-5jal6u73za] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-5jal6u73za] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-5jal6u73za]  a, .top-row[b-5jal6u73za]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-5jal6u73za]  a:hover, .top-row[b-5jal6u73za]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-5jal6u73za]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5jal6u73za] {
        display: none;
    }

    .top-row.auth[b-5jal6u73za] {
        justify-content: space-between;
    }

    .top-row[b-5jal6u73za]  a, .top-row[b-5jal6u73za]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5jal6u73za] {
        flex-direction: row;
    }

    .sidebar[b-5jal6u73za] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5jal6u73za] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-5jal6u73za]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-5jal6u73za], article[b-5jal6u73za] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Components/Layouts/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-d5xj510knl] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-d5xj510knl] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-d5xj510knl] {
    font-size: 1.1rem;
}

.oi[b-d5xj510knl] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-d5xj510knl] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-d5xj510knl] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-d5xj510knl] {
        padding-bottom: 1rem;
    }

    .nav-item[b-d5xj510knl]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-d5xj510knl]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-d5xj510knl]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-d5xj510knl] {
        display: none;
    }

    .collapse[b-d5xj510knl] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
