<div class="d-flex crypto-price">
    <div class="d-flex flex-column">
        <span>@CryptoInfo.Name</span>
        <span style="@($"color:{Theme.Palette.TextSecondary}")">@CryptoInfo.Ticker</span>
    </div>
    <div class="d-flex flex-column">
        @if(_loading)
        {
            <MudProgressCircular Size="Size.Small" Color="Color.Default" Indeterminate="true" />
        }
        else
        {
            <span>
                @(Price is null ? "Unavailable" : Price.Amount.ToPrice())
            </span>
            <span>
                @PriceChangePercent?.ToPercent()
            </span>
        }      
    </div>
</div>