@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<MudButton Variant="Variant.Filled" Color="Color.Primary">Primary</MudButton>
<SurveyPrompt Title="How is Blazor working for you???" />
<p>@response</p>
@code{
    private string response = string.Empty;

    [Inject]
    private IHttpClientFactory httpClientFactory { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var client = httpClientFactory.CreateClient("coinbase");
        var result = await client.GetFromJsonAsync<string>("prices/btc-usd/spot");
        response = result ?? "None";
    }
}
